@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); 

body {
  background-color: hsla(0, 0%, 100%, 1);
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0rem 2rem;
  width: 600px;
  margin-top: 5rem;
  text-align: center;
  transform: translate(-50%, -50%);
  font-family: Montserrat;
}
   
main > h2 {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: hsla(223, 65%, 44%, 1);
} 

main > p {
  font-size: 1.1rem;
  font-weight: 500;
  color: hsla(0, 0%, 40%, 1);
  text-align: center;
}

form {
  margin: .3rem;
  margin-top: 1.5rem;
}

form > input[type="email"],
            [type="text"],
  form> textarea,
 #send 
{
  width: 100%;
  margin: .5rem;
  font-size: 1rem;
  font-weight: 800;
  border: none;
  background: hsla(0, 0%, 90%, 1);
  padding: 1rem .8rem;
}

#send {
  font-size: 1.2rem;
  font-weight: 800;
  background: hsla(193, 53%, 97%, 1);
  color: hsla(223, 65%, 44%, 1);
}

#signUp {
  color: hsla(0, 0%, 100%, 1);
  background-color: hsla(223, 65%, 44%, 1);
}
   
  
@media screen and (max-width:780px) {
    main{
        width: 90%;
        margin-top: 10rem;
    }

    form {
      margin: 0rem;
      margin-top: 1.5rem;
    }
    
   main > p {
    font-size: .9rem;
   }

   form > input[type="email"],
            [type="text"],
  form> textarea
 {
  font-size: .8rem ;
 }
}



