.dropdown-menu {
    max-width: 85%;
}

.faq,
.info,
.faq-own {
    margin: auto;
    padding: 1rem .5rem;
}

.faq h3,
.info h3 {
    font-size: 1rem;
    text-align: left;
    font-weight: 700;
    color: hsla(223, 54%, 22%, 1);
}
.faq-own h3 {
    font-size: 1rem;
    text-align: center;
}

.faq p {
    font-size: .9rem;
    text-align: left;
    margin-bottom: 0rem;
}
.faq-own p {
    font-size: .9rem;
    text-align: center;
    margin-bottom: 0rem;
}

.faq-detail,
.faq-detail-content {
    margin: auto -.8rem;
}

.faq-content {
    border-bottom: 1px solid hsla(0, 0%, 20%, 1);
}

.dropdown-toggle {
    width: 100%;
    display: flex;
    font-size: .7rem;
    font-weight: 500;
    padding-left: .2rem;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    border: none;
    color: hsla(0, 0%, 20%, 1);
}

.dropdown-toggle::before {
    display: none;
}

.dropdown-toggle::after {
    content: "  ";
    border-top: transparent;
    font-weight: 700;
    color: hsla(223, 54%, 22%, 1);
}


.faq-icon {
    white-space: break-spaces;
    text-align: left;
}

li {
    list-style: none;
    font-weight: 500;
}


.faq-content-icon {
    font-size: .8rem;
    margin-left: 0rem;
}

#f-icon6 {
    margin-right: -7rem;
}
#f-icon5 {
    margin-right: -0.9rem;
}
#f-icon4 {
    margin-right: -0.9rem;
}
#f-icon3 {
    margin-right: -0.9rem;
}
#f-icon2 {
    margin-right: -0.9rem;
}
#f-icon1 {
    margin-right: -7.2rem;
}
#f-icon {
    margin-right: -4.8rem;
}

.info {
    margin-top: 6rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.info-row {
    margin-top: 3rem;
}

.apart-option {
    margin: auto ;
    /* padding-left: 2rem; */
    border-left: 1px solid hsla(0, 0%, 0%, 1);
    background: hsla(193, 53%, 97%, 1);
    border-right: 1px solid hsla(0, 0%, 0%, 1);
}

.apart-option h6 {
    border-left: 1px solid hsla(0, 0%, 0%, 1);
    border-right: 1px solid hsla(0, 0%, 0%, 1);
}

.process h6 {
    border-top-left-radius: 12px;
}

.pri-range h6 {
    border-top-right-radius: 12px;
}

.process h6,
.apart-option h6,
.pri-range h6 {
    background: hsla(223, 65%, 44%, 1);
    font-weight: 600;
    padding: .8rem 0rem;
    margin: auto -.7rem;
    color: hsla(0, 0%, 100%, 1);
}

.process ul li {
    font-size: .9rem;
    font-weight: 400;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);

}

.pri-range,
.process{
    background: hsla(193, 53%, 97%, 1);

}

.apart-option ul li,
.pri-range ul li {
    list-style: none;
    font-size: .9rem;
    font-weight: 400;
    text-align: left;
    color: hsla(0, 0%, 20%, 1);
    

}




@media only screen and (min-width:768px){
    .dropdown-menu {
        max-width: 85%;
    }

    .faq,
    .info,
    .faq-own {
        margin: auto;
        padding: 1rem .5rem;
    }


    .faq-detail,
    .faq-detail-content {
        margin: auto -.8rem;
    }

    .faq-icon {
        white-space: break-spaces;
        text-align: left;
    }
    
    
    .faq-content-icon {
        font-size: .8rem;
        margin-left: 0rem;
    }
    
    #f-icon6 {
        margin-right: -28.6rem;
    }
    #f-icon5 {
        margin-right: -19rem;
    }
    #f-icon4 {
        margin-right: -21.7rem;
    }
    #f-icon3 {
        margin-right: -21.6rem;
    }
    #f-icon2 {
        margin-right: -20.3rem;
    }
    #f-icon1 {
        margin-right: -29rem;
    }
    #f-icon {
        margin-right: -26.6rem;
    }

    
}

@media only screen and (min-width: 1024px) {
    .faq {
        margin-top:1rem;
        padding: 2rem 2.5rem;
        
    }
    
    .dropdown-toggle {
        font-size: .8rem;
        padding-left: 10px;
    }
    
    
    .dropdown-menu {
        max-width: 95.5%;
    }
    
   
    
    .faq-content-icon {
        font-size: 1rem;
        font-weight: 800;
        color: hsla(223, 54%, 22%, 1);
        margin-right: -30rem;
    }
    
    .dropdown-item {
        white-space: unset;
    }
    
    #f-icon6 {
        margin-right: -40.7rem;
    }
    #f-icon5 {
        margin-right: -29.6rem;
    }
    #f-icon4 {
        margin-right: -32.8rem;
    }
    #f-icon3 {
        margin-right: -32.6rem;
    }
    #f-icon2 {
        margin-right: -31.2rem;
    }
    #f-icon1 {
        margin-right: -41.1rem;
    }
    #f-icon {
        margin-right: -38.4rem;
    }
    
  
    
    .faq h3,
    .info h3 {
        font-size: 2rem;
    }
    
    .faq p{
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0rem;
        color: hsla(0, 0%, 20%, 1);
    }
    

    .info {
        padding: 4rem 2.5rem;
    } 
    
}

