body{
    overflow-x: hidden;
}

.home-pro {
    margin-top: -3rem;
    padding: 1.4rem 2.5rem;
}

.home-feat {
    margin-top: 2rem;
    padding: 1.4rem 2.5rem;
}

.tab-pane > form .homeBtn{
    color: hsla(223, 65%, 44%, 1);
}

.manager h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 1.5rem;
    color: hsla(0, 0%, 0%, 1)
}

.manager p {
    font-size: 1rem;
    font-weight: 500;
    color: hsla(0, 0%, 0%, 1);
}

.manager-row {
    margin: auto;
}

.manager-column .call,
.manager-column .message {
    margin: .8rem 0rem;
    padding: 1rem 2rem;
    background-color: hsla(0, 0%, 100%, 1);
}

.call img,
.message img {
    height: 1.6rem;
}

.call > figure,
.message > figure {
    padding: .6rem;
    margin:2rem 0rem;
    background-color: hsla(223, 54%, 22%, 1);
}

.call,
.message {
    display: flex;
    justify-content: space-evenly;
    color: hsla(0, 0%, 20%, 1);
}

.call-agent {
    margin: 2rem 0rem;
}

.call-agent span {
    font-size: 1rem;
    font-weight: 700;
}

.call-agent button {
    font-size: 1rem;
    font-weight: 700;
    border-radius: 0;
    color: hsla(0, 0%, 100%, 1);
    background-color: hsla(223, 54%, 22%, 1);
}

.tour{
    padding: 2rem 2.5rem;
    margin: auto;
    background-color: hsla(223, 54%, 22%, 1);
}

.tour h4 {
    font-size: 1.7rem;
    font-weight: 800;
    margin: .5rem;
    color: hsla(0, 0%, 100%, 1);
}

.tour > form {
    margin: auto;
    margin-top: 1.5rem;
}

.tour form > input [type="email"],
            [type="text"],
            [type="email"],
            [type="password"],
            [type="time"],
            [type="date"],
            [type="tel"],
.tour form> textarea,
#property-type
{
  width: 100%;
  margin: .5rem;
  font-size: .9rem;
  font-weight: 600;
  border: none;
  color: hsla(0, 0%, 0%, 0.6);
  background: hsla(0, 0%, 100%, 1);
  padding: 1rem .8rem;
}

.tour label {
    margin: .5rem;
    font-size: 1rem;
    font-weight: 700;
    color: hsla(0, 0%, 100%, 1);
}

.tour-btn {
    margin: 1rem .5rem;
    font-size: 1.2rem;
    font-weight: 700;
    background: hsla(50, 100%, 55%, 1);
}

.estateBtns h6 {
    font-size: .8rem;
    font-weight: 800;
    color: hsla(0, 0%,40%, 1);
}

.estateBtns span {
    font-size: .7rem;
    font-weight: 500;
    color: hsla(0, 0%,40%, 1);
}

.amenities, 
.de-page,
.estate,
.estate-column-right,
.estate-column-left{
    padding: 1rem 2.5rem;
    margin: auto;
    background-color: hsla(0, 0%, 100%, 1);
}

.estate-column-left{
    padding: 0rem 2.5rem;
    margin-top: 1rem;
    margin-right: -8rem;
    background-color: hsla(0, 0%, 100%, 1);
}

.estate-column-left .vidsBtn {
    margin: auto .5rem;
}
.estate-column-left .vidBtn {
    margin: auto.5rem;
    background-color: hsla(50, 100%, 55%, 1);
}

.estate-column-right .estateBtns {
    margin: 0rem 2rem;
}

.amenities h3 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1.3rem;
    color: hsla(0, 0%, 0%, 1)
}

.amenities span {
    font-size: .8rem;
    font-weight: 800;
    margin: auto .4rem;
    margin-bottom: 2rem;
    padding: .6rem .3rem;
    color: hsla(0, 0%,40%, 1);
    background-color: hsla(193, 53%, 97%, 1);
}

.amenities-row,
.iconBtns {
    margin: auto;
    display: flex;
    flex-direction: row;
}

.estateBtns {
    width: 8rem;
    height: 3.5rem;
    margin: auto;
    padding: .6rem .6rem;
    text-align: center;
    border: none;
    font-size: .8rem;
    font-weight: 500;
    border-radius: .6rem;
    background-color: hsla(171, 37%, 96%, 1);
}

.estateBtns img {
    height: 1.3rem;
}



.amen-content {
    margin-bottom: 1.5rem;
}

.de-page h3 {
    font-size: 2rem;
    font-weight: 800;
    margin: 1.3rem;
    color: hsla(0, 0%,40%, 1);
}

.estate-column-right h4 {
    font-size: 1.8rem;
    font-weight: 700;
    color: hsla(0, 0%,40%, 1);
}

.estate-column-right p {
    font-size: .8rem;
    font-weight: 800;
    margin-top: -1rem;
    color: hsla(0, 0%,40%, 1);
}

.estate-column-right .hp {
    font-size: 1.5rem;
}

.de-page > article {
    margin: auto 1rem;
    padding: .6rem .3rem;
}

.estate-column-right .e-span {
    font-size: .7rem;
    margin-top: -1rem;
    font-weight: 400;
    color: hsla(0, 0%,40%, 1);
}

.estateBtns p {
    font-size: .8rem;
    font-weight: 500;
    color: hsla(0, 0%, 0%, 1);
}

.de-page article span {
    margin: auto;
    margin-bottom: 1rem;
    font-size: .9rem;
    font-weight: 400;
    color: hsla(0, 0%,40%, 1);
}

.descript {
    background-color: hsla(171, 37%, 96%, 1);
}

.descript-content {
    font-size: 1rem;
    font-weight: 500;
    color: hsla(0, 0%,40%, 1);
} 

.estate-row {
    margin: auto;
}

@media only screen and (min-width: 425px) {
    .home-pro {
        margin-top: 16rem;
    }
}
@media only screen and (min-width: 768px) {
    .home-pro {
        margin-top: .7rem;
    }
}
@media only screen and (min-width: 1024px) {
    .home-pro {
        margin-top: 1rem;
    }
}